<script type="text/html" id="areaStatisticTemplate">
    <knockout data-bind="html: $data.statistic.toLocaleString('en-US') + $data.statisticText">0</knockout>
</script>

<!-- Example usage -->
<!-- 
    <knockout data-bind="template: { name: 'areaStatisticTemplate', data: { 
        'statistic': App.game.statistics.routeKills[player.region][player.route()](), 
        'statisticText': App.game.statistics.routeKills[player.region][player.route()]() < GameConstants.ROUTE_KILLS_NEEDED ? '/10' : '' + 'Pokémon defeated' } 
    }">Area name</knockout> 
-->
