<script type="text/html" id="caughtStatusTemplate">
    <knockout style="display: inline;">
        <!-- ko if: $data.status == CaughtStatus.NotCaught -->
        <img class="pokeball-smallest filter-invert"
             src="assets/images/pokeball/None.svg"
             data-bind="tooltip: {
               title: 'You have not captured this Pokémon yet!',
               trigger: 'hover'
             }"
        />
        <!-- /ko -->
        <!-- ko if: $data.status == CaughtStatus.Caught -->
        <img class="pokeball-smallest"
             src="assets/images/pokeball/Pokeball.svg"
             data-bind="tooltip: {
               title: 'You have captured this Pokémon!',
               trigger: 'hover'
             }"
        />
        <!-- /ko -->
        <!-- ko if: $data.status == CaughtStatus.CaughtShiny -->
        <img class="pokeball-smallest"
             src="assets/images/pokeball/Pokeball-shiny.svg"
             data-bind="tooltip: {
               title: 'You have captured this Pokémon shiny!',
               trigger: 'hover'
             }"
        />
        <!-- /ko -->
    </knockout>
</script>

<!-- Example usage -->
<!-- <span data-bind="template: { name: 'caughtStatusTemplate', data: {'status': PartyController.getCaughtStatus(id)}}"></span> -->
