<script type="text/html" id="caughtStatusAreaTemplate">
    <!--If there is still a missing Pokémon on the route-->
    <knockout data-bind="if: (!$data.areaCompletedShiny && !$data.areaCompleted),
        tooltip: { title: `You have not captured all Pokémon ${$data.areaTypeText} yet!`, trigger: 'hover' }">
        <img title="" class="pokeball-smallest filter-invert"
            src="assets/images/pokeball/None.svg"/>
    </knockout>

    <!--If all Pokémon on the route are caught-->
    <knockout data-bind="if: (!$data.areaCompletedShiny && $data.areaCompleted),
        tooltip: { title: `You have captured all Pokémon ${$data.areaTypeText}!`, trigger: 'hover' }">
        <img title="" class="pokeball-smallest"
            src="assets/images/pokeball/Pokeball.svg"/>
    </knockout>

    <!--If all Pokémon on the route are caught shiny-->
    <knockout data-bind="if: $data.areaCompletedShiny,
        tooltip: { title: `You have captured all Pokémon shiny ${$data.areaTypeText}!`, trigger: 'hover' }">
        <img title="" class="pokeball-smallest"
            src="assets/images/pokeball/Pokeball-shiny.svg"/>
    </knockout>
</script>

<!-- Example usage -->
<!-- <span 
    data-bind="template: { 
        name: 'caughtStatusAreaTemplate', 
        data: { 
            'areaTypeText': 'on this route',
            'areaCompleted': RouteHelper.routeCompleted(player.route(), player.region, false),
            'areaCompletedShiny': RouteHelper.routeCompleted(player.route(), player.region, true)
        }
    }">
</span> -->
