<script type="text/html" id="multiOptionTemplate">
    <div class="btn-group" data-bind="foreach: $data.optionValues">
        <button class="btn btn-secondary amount-button list-group-item-action"
                data-bind="click: function() {$parent.observable($data)},
                          text: $data,
                          css:{ 'pokemon-selected': $parent.observable() === $data}">
        </button>
    </div>
</script>

<!-- Example usage -->
<!--
    <div class="row justify-content-center" style="padding:15px;"
        data-bind="template: { 
            name:'multiOptionTemplate', 
            data: { 
                observable: ItemHandler.amountSelected, 
                optionValues: [1,10,100,1000,Infinity] 
            } 
        }">
    </div>
-->