<div class="modal fade" id="pokeballSelectorModal" tabindex="-1" role="dialog"
  aria-labelledby="PokeballSelectorModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="pokeballSelectorModalLabel">Poké Ball Selection</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-0">
        <div class="row">
          <!-- Poké Ball Selectors -->
          <div class="col-md-6 col-12 collapse dont-collapse-sm justify-content-center" id="evo-item-list">
            <h4>Selectors</h4>
            <div class="scrolling-div" data-bind="foreach: App.game.pokeballs.pokeballSelectors">
              <div class="col-12 breedingListItem">
                <button class="btn btn-secondary smallButton list-group-item-action" style="cursor: pointer; padding-right:15px"
                  data-bind="css:{'item-selected': App.game.pokeballs.selectedSelection() === $data.pokeball}, click: function(){ App.game.pokeballs.selectedSelection($data.pokeball) }">
                  <img data-bind="attr: {src: '' }" style="max-width: 32px; margin: -10px; padding: 12px 0px;">
                  <div class="d-inline-block" data-bind="text: $data.name" style="margin-left: 20px; margin-top:8px;"></div>
                  <!--<span data-bind="text: player._itemList[$data]().toLocaleString('en-US')" style="float:right; margin-top:8px;"></span>-->
                </button>
              </div>
            </div>
          </div>

          <!-- Poké Balls -->
          <div class="col-md-6 col-12 collapse dont-collapse-sm justify-content-center" id="evo-pokemon-list">
            <h4>Pokémon</h4>
            <div class="scrolling-div">
              <div class="col-md-6 col-sm-10 col-lg-12 breedingListItem"> <!--offset-sm-1 offset-md-0 offset-md-0 -->
                <button class="btn btn-secondary smallButton list-group-item-action" style="padding-right:15px"
                data-bind="
                click: function(){App.game.pokeballs.selectedSelection()(-1)},
                css:{'item-selected': App.game.pokeballs.selectedSelection()() === -1}">
                  <img class="smallImage" data-bind="attr:{src: 'assets/images/pokeball/' + GameConstants.Pokeball[-1] + '.svg' }"/>
                  <div class="d-inline-block" data-bind="text: name" style="margin-left: 20px; margin-top: 8px;">Name</div>
                </button>
              </div>
              <!-- ko foreach: App.game.pokeballs.pokeballs -->
              <div class="col-md-6 col-sm-10 col-lg-12 breedingListItem"> <!--offset-sm-1 offset-md-0 offset-md-0 -->
                <button class="btn btn-secondary smallButton list-group-item-action" style="padding-right:15px"
                data-bind="
                click: function(){App.game.pokeballs.selectedSelection()($data.type)},
                visible: $data.unlocked() || $data.quantity(),
                css:{'item-selected': App.game.pokeballs.selectedSelection()() === $data.type}">
                  <img class="smallImage" data-bind="attr:{src: 'assets/images/pokeball/' + GameConstants.Pokeball[$data.type] + '.svg' }"/>
                  <div class="d-inline-block" data-bind="text: name" style="margin-left: 20px; margin-top: 8px;">Name</div>
                </button>
              </div>
              <!-- /ko -->
            </div>
          </div>
        </div>









        <div class="table-warning p-1 text-left" data-bind="text: App.game.pokeballs.selectedTitle"></div>
        <div class="card-body p-0 show table-responsive text-left">
          <table class="table table-sm m-0">
            <thead>
              <tr>
                <th class="text-center" width="20%">Ball</th>
                <th>Description</th>
                <th class="text-center">Qty</th>
              </tr>
            </thead>
            <tbody>
              <tr class="clickable"
                data-bind="template: { name: 'pokeballSelectionTemplate', data: { 'image': 'None', 'type': -1, 'description': 'Do not catch' }},
                    click: function(){App.game.pokeballs.selectedSelection()(GameConstants.Pokeball.None)}"></tr>
              <!-- ko foreach: App.game.pokeballs.pokeballs -->
              <tr class="clickable"
                data-bind="template: { name: 'pokeballSelectionTemplate', data: $data},
                  click: function(){App.game.pokeballs.selectedSelection()($data.type)},
                  visible: $data.unlocked() || $data.quantity(),
                  css: {
                    'clickable': !($data.type === GameConstants.Pokeball.Masterball && App.game.challenges.list.disableMasterballs.active()),
                    'disabled no-click text-muted': ($data.type === GameConstants.Pokeball.Masterball && App.game.challenges.list.disableMasterballs.active()),
                  }"></tr>
              <!-- /ko -->
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script type="text/html" id="pokeballSelectionTemplate">
  <td class="text-center">
    <img class="pokeball-small"
      data-bind="attr: {src: 'assets/images/pokeball/' + GameConstants.Pokeball[$data.type] + '.svg'}, css: {'pokeball-selected': App.game.pokeballs.selectedSelection()() === $data.type}, tooltip: {title: $data.type === -1 ? 'None' : ItemList[GameConstants.Pokeball[$data.type]].displayName, trigger: 'hover', animation: false, placement: 'bottom'}"/>
  </td>
  <td class="align-middle">
    <span data-bind="text: $data.description"></span>
  </td>
  <td class="text-center align-middle">
    <span data-bind="text: $data.quantity && $data.quantity() ? GameConstants.formatNumber($data.quantity()) : '-', tooltip: $data.quantity && {title: $data.quantity().toLocaleString('en-US'), trigger: 'hover', animation: false, placement: 'left'}"></span>
  </td>
</script>
