<div class="modal fade" id="pokeballSelectorModal" tabindex="-1" role="dialog"
  aria-labelledby="PokeballSelectorModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="pokeballSelectorModalLabel">Poké Ball Selection</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-0">
          <ul class="nav nav-tabs nav-fill">
              <li class="nav-item"><a data-toggle='tab' class='nav-link active' href="#selections">Selections</a></li>
              <li class="nav-item"><a data-toggle='tab' class='nav-link' href="#settings">Settings</a></li>
          </ul>
          <div class="tab-content">
              <div id="selections" class="tab-pane fade in active show p-3">
                <div class="row">
                  <!-- Poké Ball Selections -->
                  <div class="col-md-6 col-12 collapse dont-collapse-sm justify-content-center" id="evo-item-list">
                    <h4>Selections</h4>
                    <div class="scrolling-div-pokeball" data-bind="foreach: App.game.pokeballs.pokeballSelectors">
                      <div class="col-12 pokeballListItem">
                        <button class="btn btn-secondary smallButton list-group-item-action" style="cursor: pointer; padding-right:15px"
                          data-bind="css:{'item-selected': App.game.pokeballs.selectedSelection() === $data.pokeball}, click: function(){ App.game.pokeballs.selectedSelection($data.pokeball) }">
                          <img data-bind="attr: {src: '' }" style="max-width: 32px; margin: -10px; padding: 12px 0px;">
                          <div class="d-inline-block" data-bind="text: $data.name" style="margin-left: 20px; margin-top:6px; margin-bottom:6px;">Selection Name</div>
                          <!-- ko if: $data.description -->
                          <i class="bi bi-question-circle mx-1"
                          data-bind="tooltip: { title: $data.description, trigger: 'hover', html: true }"></i>
                          <!-- /ko -->
                          <!--<span data-bind="text: player._itemList[$data]().toLocaleString('en-US')" style="float:right; margin-top:8px;"></span>-->
                        </button>
                      </div>
                    </div>
                  </div>

                  <!-- Poké Balls -->
                  <div class="col-md-6 col-12 collapse dont-collapse-sm justify-content-center" id="evo-pokemon-list">
                    <h4>Poké Balls</h4>
                    <div class="scrolling-div-pokeball">
                      <div class="col-md-6 col-sm-10 col-lg-12 pokeballListItem"> <!--offset-sm-1 offset-md-0 offset-md-0 -->
                        <button class="btn btn-secondary smallButton list-group-item-action" style="padding-right:15px"
                        data-bind="
                        click: function(){App.game.pokeballs.selectedSelection()(-1)},
                        css:{'item-selected': App.game.pokeballs.selectedSelection()() === -1}">
                          <img class="pokeball-small pokeball-selected" data-bind="attr:{src: 'assets/images/pokeball/' + GameConstants.Pokeball[-1] + '.svg' }, tooltip: {title: 'None', trigger: 'hover', animation: false, placement: 'bottom'}"/>
                          <div class="d-inline-block" data-bind="text: 'None'" style="margin-left: 34px; margin-top: 8px;">Name</div>
                          <i class="bi bi-question-circle mx-1"
                              data-bind="tooltip: { title: 'Do not catch', trigger: 'hover', html: true }"></i>
                          <span style="float:right; margin-top:8px;">-</span>
                        </button>
                      </div>
                      <!-- ko foreach: App.game.pokeballs.pokeballs -->
                      <div class="col-md-6 col-sm-10 col-lg-12 pokeballListItem"> <!--offset-sm-1 offset-md-0 offset-md-0 -->
                        <button class="btn btn-secondary smallButton list-group-item-action" style="padding-right:15px"
                        data-bind="
                        click: function(){App.game.pokeballs.selectedSelection()($data.type)},
                        visible: $data.unlocked() || $data.quantity(),
                        css:{'item-selected': App.game.pokeballs.selectedSelection()() === $data.type}">
                          <img class="pokeball-small pokeball-selected" data-bind="attr:{src: 'assets/images/pokeball/' + GameConstants.Pokeball[$data.type] + '.svg' }, tooltip: {title: $data.type === -1 ? 'None' : ItemList[GameConstants.Pokeball[$data.type]].displayName, trigger: 'hover', animation: false, placement: 'bottom'}"/>
                          <div class="d-inline-block" data-bind="text: ItemList[GameConstants.Pokeball[$data.type]].displayName" style="margin-left: 34px; margin-top: 8px;">Name</div>
                          <i class="bi bi-question-circle mx-1"
                              data-bind="tooltip: { title: $data.type === -1 ? 'Do not catch' : $data.description, trigger: 'hover', html: true }"></i>
                          <span data-bind="text: $data.quantity && $data.quantity() ? GameConstants.formatNumber($data.quantity()) : '-', tooltip: $data.quantity && { title: $data.quantity().toLocaleString('en-US'), trigger: 'hover', animation: false, placement: 'left' }" style="float:right; margin-top:8px;"></span>
                        </button>
                      </div>
                      <!-- /ko -->
                    </div>
                  </div>
                </div>
              </div>
              <div id="settings" class="tab-pane fade p-3">
                  <div class="row">
                      <!-- Ultra Beasts -->
                      <!-- ko if: new TemporaryBattleRequirement('Anabel').isCompleted() -->
                      <div class="col-md-6 col-12 collapse dont-collapse-sm justify-content-center mx-auto" id="evo-item-list">
                        <h4 class="d-inline-block">Ultra Beasts</h4>
                        <i class="bi bi-question-circle mx-1"
                        data-bind="tooltip: { title: `Beast Balls remaining: ${App.game.pokeballs.getBallQuantity(GameConstants.Pokeball.Beastball)}`, trigger: 'hover', html: true }"></i>
                        <div class="scrolling-div-pokeball">
                            <div class="col-12 pokeballListItem form-row">
                                <div class="form-group col-md-9 col-6">
                                  <span>Catch Ultra Beasts</span>
                                  <!--<img class="pokeball-small pokeball-selected" src="assets/images/pokeball/Beastball.svg">-->
                                  <i class="bi bi-question-circle mx-1"
                                  data-bind="tooltip: { title: 'Enable this option to catch Ultra Beasts', trigger: 'hover', html: true }"></i>
                                </div>
                                <div class="form-group col-md-3 col-6">
                                    <label class="form-check-label toggler-wrapper style-1 float-right">
                                        <input class="form-check-input" type="checkbox" id="pokeball-catch-ub"
                                            data-bind="checked: App.game.pokeballs.catchUltraBeast">
                                        <div class="toggler-slider">
                                            <div class="toggler-knob"></div>
                                        </div>
                                    </label>
                                </div>

                                <div class="form-group col-md-9 col-6">
                                  <span>Catch Shiny Ultra Beasts</span>
                                  <!--<img class="pokeball-small pokeball-selected" src="assets/images/pokeball/Beastball.svg">✨-->
                                  <i class="bi bi-question-circle mx-1"
                                  data-bind="tooltip: { title: 'Enable this option to catch only Shiny Ultra Beasts', trigger: 'hover', html: true }"></i>
                                </div>
                                <div class="form-group col-md-3 col-6">
                                    <label class="form-check-label toggler-wrapper style-1 float-right">
                                        <input class="form-check-input" type="checkbox" id="pokeball-catch-ub-shiny"
                                            data-bind="checked: App.game.pokeballs.catchUltraBeastShiny">
                                        <div class="toggler-slider">
                                            <div class="toggler-knob"></div>
                                        </div>
                                    </label>
                                </div>
                                <!--
                                <div class="col-12">
                                  <hr style="margin-top:0; border-color:white;"/>
                                </div>
                                -->
                            </div>
                        </div>
                      </div>
                      <!-- /ko -->
                      <!-- Types -->
                      <div class="col-md-6 col-12 collapse dont-collapse-sm justify-content-center mx-auto" id="">
                        <h4 class="d-inline-block">Types</h4>
                        <i class="bi bi-question-circle mx-1"
                        data-bind="tooltip: { title: `These types are used by the 'By Type' selection`, trigger: 'hover', html: true }"></i>
                        <div class="scrolling-div-pokeball">
                          <div class="col-12 pokeballListItem form-row">
                              <!-- -ko if: App.game.pokeballs.selectedSelection() === App.game.pokeballs.pokeballSelectors[GameConstants.PokeballSelector.type].pokeball -->
                                <!-- ko foreach: GameHelper.enumNumbers(PokemonType).filter(value => !isNaN(value) && value != -1) -->
                                <div class="form-group col-md-9 col-6">
                                  <span data-bind="text: PokemonType[$data]">Type</span>
                                  <!--<img class="pokeball-small pokeball-selected" src="assets/images/pokeball/Beastball.svg">-->
                                  <i class="bi bi-question-circle mx-1"
                                  data-bind='tooltip: { title: `Catch ${PokemonType[$data]}-type Pokémon with the Poké Ball selected in the "By Type" selector`, trigger: `hover`, html: true }'></i>
                                </div>
                                <div class="form-group col-md-3 col-6">
                                    <label class="form-check-label toggler-wrapper style-1 float-right">
                                        <input class="form-check-input" type="checkbox"
                                            data-bind="checked: App.game.pokeballs.typeArray[$data], attr: { id: `pokeball-by-type-${$data}` }">
                                        <div class="toggler-slider">
                                            <div class="toggler-knob"></div>
                                        </div>
                                    </label>
                                </div>
                                <!-- /ko -->
                              <!-- -/ko -->
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
