<div id="shortcutsContainer" class="card sortable border-secondary mb-3" data-bind="visible: player.starter() != GameConstants.Starter.None">
    <div class="card-header p-0" data-toggle="collapse" href="#shortcutsBody">
        <span style="text-align:center">Shortcuts</span>
    </div>
    <div id="shortcutsBody" class="row w-100 m-0 card-body show p-0">
      <!-- Underground -->
      <!-- ko if: App.game.badgeCase.hasBadge(BadgeEnums.Soul) -->
      <div class="p-2" data-bind="css: { 'col-2': Settings.getSetting('gameDisplayStyle').observableValue() === 'fullWidth3', 'col-4': Settings.getSetting('gameDisplayStyle').observableValue() !== 'fullWidth3' }">
        <div class="shortcut-icon" data-bind="tooltip: { title: 'Underground', trigger: 'hover', placement: 'right', html: true },
            css: {'disabled-icon': !App.game.underground.canAccess()}"
            onclick="App.game.underground.openUndergroundModal()">
            <img src="" data-bind="attr: { src: `assets/images/shortcut-icons/underground.png` }">
        </div>
      </div>
      <!-- /ko -->

      <!-- Farm -->
      <!-- ko if: new TemporaryBattleRequirement('Snorlax route 12').isCompleted() || new TemporaryBattleRequirement('Snorlax route 16').isCompleted() -->
      <div class="p-2" data-bind="css: { 'col-2': Settings.getSetting('gameDisplayStyle').observableValue() === 'fullWidth3', 'col-4': Settings.getSetting('gameDisplayStyle').observableValue() !== 'fullWidth3' }">
        <div class="shortcut-icon" data-bind="tooltip: { title: 'Farm', trigger: 'hover', placement: 'right', html: true },
            css: {'disabled-icon': !App.game.farming.canAccess()}"
            onclick="FarmController.openFarmModal()">
            <img src="" data-bind="attr: { src: `assets/images/shortcut-icons/farm.png` }">
        </div>
      </div>
      <!-- /ko -->

      <!-- Poké Mart -->
      <!-- ko if: App.game.statistics.gymsDefeated[GameConstants.getGymIndex('Champion Lance')] -->
      <div class="p-2" data-bind="css: { 'col-2': Settings.getSetting('gameDisplayStyle').observableValue() === 'fullWidth3', 'col-4': Settings.getSetting('gameDisplayStyle').observableValue() !== 'fullWidth3' }">
        <div class="shortcut-icon" data-bind="tooltip: { title: 'Poké Mart', trigger: 'hover', placement: 'right', html: true },
            css: {'disabled-icon': !App.game.statistics.gymsDefeated[GameConstants.getGymIndex('Champion Lance')]}"
            onclick="ShopHandler.showShop(pokeMartShop);" href="#shopModal" data-toggle="modal">
            <img src="" data-bind="attr: { src: `assets/images/shortcut-icons/poke-mart.png` }">
        </div>
      </div>
      <!-- /ko -->

      <!-- Dock -->
      <!-- ko if: player.highestRegion() > 0 -->
      <div class="p-2" data-bind="css: { 'col-2': Settings.getSetting('gameDisplayStyle').observableValue() === 'fullWidth3', 'col-4': Settings.getSetting('gameDisplayStyle').observableValue() !== 'fullWidth3' }">
        <div class="shortcut-icon" data-bind="tooltip: { title: 'Dock', trigger: 'hover', placement: 'right', html: true },
            css: {'disabled-icon': !(TownList[GameConstants.DockTowns[player.region]].isUnlocked()) || App.game.gameState == GameConstants.GameState.battleFrontier || App.game.gameState === GameConstants.GameState.dungeon}"
            onclick="MapHelper.openShipModal()">
            <img src="" data-bind="attr: { src: `assets/images/shortcut-icons/dock.png` }">
        </div>
      </div>
      <!-- /ko -->

      <!-- Log Book -->
      <div class="p-2" data-bind="css: { 'col-2': Settings.getSetting('gameDisplayStyle').observableValue() === 'fullWidth3', 'col-4': Settings.getSetting('gameDisplayStyle').observableValue() !== 'fullWidth3' }">
        <div class="shortcut-icon" data-bind="tooltip: { title: 'Log Book', trigger: 'hover', placement: 'right', html: true }"
            onclick="$('#logBookModal').modal('show');">
            <img src="" data-bind="attr: { src: `assets/images/shortcut-icons/log-book.png` }">
        </div>
      </div>

      <!-- Damage Calculator -->
      <div class="p-2" data-bind="css: { 'col-2': Settings.getSetting('gameDisplayStyle').observableValue() === 'fullWidth3', 'col-4': Settings.getSetting('gameDisplayStyle').observableValue() !== 'fullWidth3' }">
        <div class="shortcut-icon" data-bind="tooltip: { title: 'Damage Calculator', trigger: 'hover', placement: 'right', html: true }"
            onclick="$('#damageCalculatorModal').modal('show');">
            <img src="" data-bind="attr: { src: `assets/images/shortcut-icons/damage-calculator.png` }">
        </div>
      </div>

    </div>
</div>
