<!-- Draggable bootstrap modal -->
<div class="modal fade draggable_modal" id="draggable_gem_list_modal" tabindex="-1" role="dialog" aria-labelledby="gemModalSmallLabel" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-scrollable" role="document" style="max-width: 100%; width: 550px;">
    <div class="modal-content">

      <div class="modal-header draggable_touch py-1">
        <div class="">Gem list</div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="row" data-bind="foreach: Array(Gems.nTypes)">
          <div class="col-4 text-left" style="font-size: 14px;">
            <span class="d-inline-block" style="width:10px; height:10px; border-radius:100px;" data-bind="style: { 'background-color': TypeColor[$index()] }"></span>
            <strong><span class="text-left p-1" data-bind="html: PokemonType[$index()] + ':'"></span></strong>
            <span class="text-left" data-bind="html: App.game.gems.gemWallet[$index()]().toLocaleString('en-US')"></span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<script>
  $(document).ready(() => {
      $("#draggable_gem_list_btn").click(function () {
          // Open modal
          $( "body" ).addClass( "forceScroll" );
          $("#draggable_gem_list_modal").modal({
              backdrop: false,
              show: true,
          });

          // Reset modal if it isn't visible
          if (!$(".modal.in").length) {
              $("#draggable_gem_list_modal").css({
                  top: 20,
                  left: 100,
              });
          }

          $(".modal-dialog").draggable({
              cursor: "move",
              handle: ".draggable_touch",
              containment: "#window-container",
              scroll: false,
          });
      });

      $('#draggable_gem_list_modal').on('hidden.bs.modal', () => {
          $( "body" ).removeClass( "forceScroll" );
          $("#draggable_gem_list_modal").css({
              top: 0,
              left: 0,
          });
      });
  });
</script>